img {
    width: 30%;
    padding-left: 35%;
    opacity: 50%;
  }

  body {
    background-image:linear-gradient(rgba(66, 70, 85, 0.7),rgba(193, 203, 236, 0.7)),url('654501.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }