img {
    width: 30%;
    padding-left: 35%;
    opacity: 50%;
  }

  body {
    background-image:linear-gradient(rgba(66, 70, 85, 0.7),rgba(193, 203, 236, 0.7)),url('654501.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
  }

  .switch input{
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #1e1e1e;
    outline: none;
    cursor: pointer;
  }

  .switch input::before,
  .switch input::after{
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
  }

  .switch input::before{
    padding-bottom: 45px;
    content: "Good Health";
    left:20px;
    
  }

  .switch input::after{
    content: "Well Being";
    right:20px;
    padding-bottom: 45px;
  }

  .switch input:checked{
    background: #ff9800;
  }

  .switch label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
  }

  .switch input{
    transition: 0.25s;
  }

  .switch input:checked::after,
  .switch input:checked::before{
    color: #fff;
    transition: color 0.5s;
  }

  .switch input:checked+label{
    left:10px;
    right:100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
  }

  .switch input:not(:checked) {
    background: #1e1e1e;
    transition: background 0.4s;
  }

  .switch input:not(:checked)::before{
    color: #fff;
    transition: color 0.5s;
  }

  .switch input:not(:checked)::after{
    color: #fff;
    transition: color 0.5s 0.2s;
  }
  .switch input:not(:checked)+label{
    left: 100px;
    right: 10px;
    background: #ff9800;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
  }