@charset "utf-8";
/* CSS Document */
/*font import here*/
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;	
}

li,a,button{
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;

}

header{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px ;
	background-color: #000000;
	border-radius: 20px;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	transition: all 0.3s ease 0s;
	color: aqua;
}

button{
	padding: 7px 10px;
	background-color:#00FF4C;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	
}

button:hover {
	background-color: rgbal(0,136,169,0)
}

.img {
	border-radius: 0px;
	width: 1325px;
	height: 500px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
}

sdgcardmain{
	min-height: 50vh;
}

sdgcards{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 0vh;
	background: #FFFFFF;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1100px;
}

.container .card{
	position: relative;
	width: 220px;
	height: 220px;
	margin: 0px;
	overflow: hidden;
}

.container .card .imgBx,
.container .card .contentBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container .card .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .contentBx::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: #fff;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
	transition-delay: 0.5s;
} 

.container .card:hover .contentBx::before{
	transform: scaleX(1);
	transition: transform 0.5s ease-in-out;
	transform-origin: left;
	transition-delay: 0s;
} 

.container .card .contentBx{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card .contentBx .content{
	position: relative;
	padding-left: 10px;
	z-index: 1;
	transition: 0.5s;
	transform: translateX(-300px);
	transition-delay: 0s;
}

.container .card:hover .contentBx .content{
	transform: translateX(0px);
	transition-delay: 0.5s;
}

.container .card .contentBx .content h3{
	font-size: 1.3ex;
	text-transform: uppercase;
	letter-spacing: 1px;
}

container .card .contentBx .content h3{
	font-size: 1ex;
	line-height: 1.4em;
	font-weight: 300;
}